@model Umbraco.Cms.Core.Models.ChangingPasswordModel
@using MediaWiz.Forums.Controllers
@using Umbraco.Extensions

<p>&nbsp;</p>
@using (Html.BeginUmbracoForm<ForumMemberController>("ChangePassword", FormMethod.Post))
{
    <h4>Change your Password.</h4>
    <hr />
    <div class="form-group">
        <div class="mb-3">
            <label for="@Model.OldPassword" class="form-label">Current Password</label>
            <input asp-for="@Model.OldPassword" class="form-control" required="" />
            <span asp-validation-for="@Model.OldPassword" class="form-text text-danger"></span>
        </div>        
        <div class="mb-3">
            <label asp-for="@Model.NewPassword" class="form-label">New Password</label>
            <input asp-for="@Model.NewPassword" class="form-control" required="" />
            <span asp-validation-for="@Model.NewPassword" class="form-text text-danger"></span>
        </div>

    </div>
    <div class="form-group"> <button type="submit" class="btn btn-danger">Save</button></div>
}
