@model Umbraco.Cms.Core.Models.ChangingPasswordModel
@using MediaWiz.Forums.Controllers
@using MediaWiz.Forums.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@inject ILocalizationService LocalizationService
@{
    var success = TempData["ValidationSuccess"];
    var error = TempData["ValidationError"];
}
@using (Html.BeginUmbracoForm<ForumMemberController>("ChangePassword", FormMethod.Post))
{
    <legend class="mb-3">Change your Password.</legend>

    <div class="form-group">
        <div class="mb-3">
            <label for="@Model.OldPassword" class="form-label">@LocalizationService.GetOrCreateDictionaryValue("Forums.Members.Currentpassword","Current Password")</label>
            <input asp-for="@Model.OldPassword" class="form-control" required="" type="password"/>
            <span asp-validation-for="@Model.OldPassword" class="form-text text-danger"></span>
        </div>        
        <div class="mb-3">
            <label asp-for="@Model.NewPassword" class="form-label">@LocalizationService.GetOrCreateDictionaryValue("Forums.Members.Newpassword","New Password")</label>
            <input asp-for="@Model.NewPassword" class="form-control" required="" type="password" />
            <span asp-validation-for="@Model.NewPassword" class="form-text text-danger"></span>
        </div>

    </div>
    <div class="form-group"> <button type="submit" class="btn btn-danger">@LocalizationService.GetOrCreateDictionaryValue("Forums.Save","Save")</button></div>
    <p class="text-danger">@success @error</p>
}
