@using MediaWiz.Forums.Controllers
@using MediaWiz.Forums.Extensions
@using MediaWiz.Forums.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Web.Website.Models
@using Umbraco.Extensions
@inject MemberModelBuilderFactory memberModelBuilderFactory
@inject ILocalizationService LocalizationService
@inject IOptions<ForumConfigOptions> forumOptions;

@{

    var registerModel = memberModelBuilderFactory
        .CreateRegisterModel()
        .WithMemberTypeAlias(forumOptions.Value.MemberTypeAlias ?? "forumMember")
        .WithRedirectUrl(null)
        .WithCustomProperties(true)
        .Build();

    registerModel.Name = Model.MemberId;
}
<p>&nbsp;</p>
@using (Html.BeginUmbracoForm<ForumMemberController>("ForgotPassword", null, new { id = "reset-form-id", style = "display:none;", action = "/ForgotPassword" }, FormMethod.Post))
{
    <hr />
    <div class="form-group">


        <div class="mb-3">
            <label asp-for="@registerModel.Password" class="form-label"></label>
            <input asp-for="@registerModel.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="@registerModel.Password" class="form-text text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@registerModel.ConfirmPassword" class="form-label"></label>
            <input asp-for="@registerModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="@registerModel.ConfirmPassword" class="form-text text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="@registerModel.Name" class="form-control" aria-required="true" type="hidden" />
            <input asp-for="@registerModel.Email" class="form-control" autocomplete="username" type="hidden" />
        </div>
        <input type="hidden" name="Id" value="@Model.MemberId" />
        <input type="hidden" name="token" value="@Model.ResetToken" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group"> <button type="submit" class="btn btn-danger" id="register-submit">@LocalizationService.GetOrCreateDictionaryValue("Forums.Save","Save")</button></div>
}
