@using Umbraco.Cms.Core.Services
@using MediaWiz.Forums.Extensions
@model MediaWiz.Forums.ViewModels.ProfileViewModel
@inject ILocalizationService LocalizationService
@{
    var success = TempData["FormSuccess"] != null;
    if (Model.CurrentUser == null)
    {
        Context.Response.Redirect("/forums");
    }
    var titleStr = LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Userprofile", "{0}'s Profile");
}
@if (Model.MemberIdentity != null)
{
    if (success)
    {
        @* This message will show if profileModel.RedirectUrl is not defined (default) *@
        <p class="text-success">@LocalizationService.GetOrCreateDictionaryValue("Forums.Profile.Updated","Profile updated")</p>
    }
    else
    {
        <h2>@String.Format(titleStr,Model.CurrentUser.UserName)</h2>
        <hr />
        <div class="mb-3">
            <label>@LocalizationService.GetOrCreateDictionaryValue("Forums.Members.Name","Name")Name</label>
            @Html.DisplayTextFor(m => Model.ViewMember.Name)
        </div>

        if (Model.ViewMember.Properties != null)
        {
            foreach (var property in Model.ViewMember.Properties)
            {
                if (property.Alias != "receiveNotifications")
                {

                    <div class="mb-3">
                        <label>@property.Alias</label> : <label>@property.GetValue()</label>
                    </div>
                }
            }
        }
    }


}
