@model MediaWiz.Forums.ViewComponents.ForumListViewModel
@using MediaWiz.Forums.Helpers
@using MediaWiz.Forums.Interfaces
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@using MediaWiz.Forums.Extensions

@inject IForumCacheService _cacheService
@inject ILocalizationService LocalizationService
<!--
    lists all the child forums of this one.
    (uses the cache, to get post count and latest post - without having to recurse everytime)
-->
@{
    var titleStr = LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Viewprofile", "View {0}'s profile");

    if (Model.Forums.Any())
    {
        <div>
            <div id="forums-list-0" class="wiz-forums">
                <div class="d-flex flex-row flex-wrap mb-3 p-2 color_dark bold">
                    <div class="col-8 col-sm-5">@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum","Forum")</div>
                    <div class="col-2">@LocalizationService.GetOrCreateDictionaryValue("Forums.Topics","Topics")</div>
                    <div class="col-2">@LocalizationService.GetOrCreateDictionaryValue("Forums.Posts","Posts")</div>
                    <div class="d-none d-md-block col-sm flex-shrink-0 flex-grow-1">@LocalizationService.GetOrCreateDictionaryValue("Forums.LatestPost","Latest Post")</div>
                </div>
                <div class="wiz-body p-2">
                    @foreach (var forum in Model.Forums)
                    {
                        if (Model.CanView(forum))
                        {
                            var cachedForum = _cacheService.GetPost(forum, "forum_" + forum.Id);
                            <div id="forum-@forum.Id" class="d-flex flex-row flex-wrap forum type-forum">
                                <div class="col-8 col-sm-5">
                                    <a class="wiz-forum-title" href="@forum.Url()">@forum.Value("forumTitle")</a>
                                    <div class="p-2">@Html.Raw(forum.Value("forumDescription"))</div>
                                    @if (forum.HasValue("canPostGroups"))
                                    {
                                        <span class="text-muted small">(@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Restricted","Posting restricted to") @Model.PostRestriction(forum))</span>
                                    }
                                </div>
                                <div class="col-2">@cachedForum.TopicCount</div>
                                <div class="col-2">@cachedForum.Count</div>
                                <div class="col-12 col-sm flex-shrink-0 flex-grow-1">
                                    @if (cachedForum.latestPost > DateTime.MinValue)
                                    {
                                        <p class="wiz-topic-meta">
                                            <a href="@cachedForum.lastPostUrl#post_@cachedForum.Id" title="@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Jumpto","Jump to latest post")">@cachedForum.latestPost.GetRelativeDate()</a>
                                            by
                                            <a href="~/profile/?user=@cachedForum.lastpostAuthor" title="@String.Format(titleStr,cachedForum.lastpostAuthor)" class="wiz-author-link">
                                                @cachedForum.lastpostAuthor
                                            </a>
                                        </p>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                @if (Model.Roles.Contains("ForumAdministrator"))
                {
                    <div class="d-flex flex-row text-right">
                        @if (TempData["ForumSaveResult"] != null)
                    {
                        var result = (PublishResult)TempData["ForumSaveResult"];
                            @result.Success
                    }
                    </div>
                }
            </div>
        </div>
    }
    else if(Model.Content.IsDocumentType("ForumMain"))
    {
        <div>
            <div class="wiz-forums">
                <h5>@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.None","No active Forums.")</h5>
            </div>
        </div>
    }
}
