@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MediaWiz.Core.Controllers.VerifyViewModel>
@using MediaWiz.Core.Models

@{
    Layout = "ForumMaster.cshtml";
    var success = TempData["ValidationSuccess"] != null;
    var error = TempData["ValidationError"] != null;
}
@section ForumHeader
{
    <meta name="robots" content="noindex,nofollow" />
}
@if (success)
{
    <p class="text-success">Validation succeeded. You may now login and begin posting</p>
}
else if (error)
{
    <h3 class="text-warning">Validation failed. @TempData["ValidationError"]</h3>
}
else if (Model.ResetToken != null)
{
    <div class="wiz-forum-info">
        <div class="page-header">
            <h3>@Model.Value("title")</h3>
        </div>
        <div class="forum-intro">
            @Html.Raw(Model.Value("postMessage"))
        </div>
    </div>
    @await Html.PartialAsync("Forums/_ResetPassword", Model)
    @if (Model.Value<bool>("useCaptcha"))
    {
        @await Html.PartialAsync("Forums/_Captcha")
    }

}
else
{
    @if (TempData["ResetSent"] == null || (bool)TempData["ResetSent"] == false)
    {
        <div class="wiz-forum-info">
            <div class="page-header">
                <h3>@Model.Value("title")</h3>
            </div>
            <div class="forum-intro">
                @Html.Raw(Model.Value("message"))
            </div>
        </div>
    }
    @await Html.PartialAsync("Forums/_ForgotPassword", new ForumForgotPasswordModel())
    @if (Model.Value<bool>("useCaptcha") && !(TempData["ResetSent"] != null && (bool)TempData["ResetSent"]))
    {
        @await Html.PartialAsync("Forums/_Captcha")
    }


}

@section ForumScripts
{
    <script type="text/javascript">
        $.fn.clearValidation = function(){var v = $(this).validate();$('[name]',this).each(function(){v.successList.push(this);v.showErrors();});v.resetForm();v.reset();};

        $(document).ready(function() {
            if ('@Model.Value("useCaptcha")' !== 'True') {
                $('#reset-form-id').show();
                $('#forgotten-submit').show();
            }
        });
        $("#btn-captcha").on('click',function(e) {
            e.preventDefault();
            if (MediaWiz.captchaCheck($("#Captcha").val())) {
                $("#captcha-check").hide();
                $('#reset-form-id').show();
                $('#forgotten-submit').show();
                $("#reset-form-id").clearValidation();
            } else {
                $("#Captcha").attr("placeholder", "Incorrect, please try again.");
            }
        });
    </script>
}
