@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>

@using MediaWiz.Forums.Helpers
@using MediaWiz.Forums.Interfaces
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@using MediaWiz.Forums.Extensions

@inject IViewCounterService _viewCounter
@inject IForumCacheService _cacheService
@inject ILocalizationService LocalizationService
@{
    var post = Model;
    var cacheInfo = _cacheService.GetPost(post, "Topic_" + post.Id);
    var views = _viewCounter.GetViewCount(post.Id)?.Views ?? 0;

    @if (post.IsVisible())
    {
        string locked = post.Value<bool>("allowReplies") ? "" : "locked";
        string solved = post.Value<bool>("answer") ? "solved" : "";

        <div class="d-flex flex-row flex-wrap topic @locked @solved p-6" id="topic-@post.Id">
            <div class="col-8 p-4">
                <a class="wiz-topic-permalink " href="@post.Url()" style="display: block" title="@post.Value("postTitle")">@post.Value("postTitle")</a>
                <span class="wiz-topic-meta">

                    @if (!String.IsNullOrWhiteSpace(cacheInfo.lastpostAuthor))
                    {
                        <span class="wiz-topic-started-by">
                            @LocalizationService.GetOrCreateDictionaryValue("Forums.Posts.Lastpostby","last post by") <a href="/profile/?user=@cacheInfo.lastpostAuthor">@cacheInfo.lastpostAuthor</a>
                            <span title="@cacheInfo.latestPost.ToDisplayDate()">@cacheInfo.latestPost.GetRelativeDate()</span> <a href="@cacheInfo.lastPostUrl" title="@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Jumpto","Jump to latest post")"><i class="bi bi-chevron-double-right"></i></a>
                        </span>
                    }
                    else
                    {
                        <span class="wiz-topic-started-by">@LocalizationService.GetOrCreateDictionaryValue("Forums.Posts.Createdby","topic created by") <a href="/profile/?user=@post.Value("postCreator")">@post.Value("postCreator")</a> <span title="@post.CreateDate.ToDisplayDate()">@post.CreateDate.GetRelativeDate()</span></span>
                    }
                </span>
            </div>
            <div class="col-2 pt-4">@(cacheInfo.Count)</div>
            <div class="col-2 pt-4">@views</div>
        </div>
    }

}

