@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>
@using Umbraco.Cms.Core.Models.PublishedContent
@using MediaWiz.Forums.Helpers
@using MediaWiz.Forums.Interfaces
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@using MediaWiz.Forums.Extensions
@inject IMemberManager _memberManager

@inject IViewCounterService _viewCounter
@inject IForumCacheService _cacheService
@inject ILocalizationService LocalizationService
@{
    var activetopics = TempData["ActiveTopics"].ToString() == "true";
    var currentUser = _memberManager.GetUserAsync(Context.User).Result;
    IList<string> roles = new List<string>();
    if (currentUser != null)
    {
        roles = _memberManager.GetRolesAsync(currentUser).Result;
    }

    var post = Model;
    var cacheInfo = _cacheService.GetPost(post, "Topic_" + post.Id);
    var views = _viewCounter.GetViewCount(post.Id)?.Views ?? 0;
    var forum = post;
    if(post.Parent.ContentType.Alias == "forum"){
        forum = post.Parent;
    }else if (post.Parent.Parent.ContentType.Alias == "forum"){
        forum = post.Parent.Parent;
    }
    bool isApproved = !forum.Value<bool>("requireApproval") || post.Value<bool>("approved");
    var currentPageURL = Umbraco.AssignedContentItem.Parent.Url();
    @if (post.IsVisible() && isApproved)
    {
        string locked = post.Value<bool>("allowReplies") ? "" : "locked";
        string solved = post.Value<bool>("answer") ? "solved" : "";
        string approvereplies = "";
        if (isApproved && post.Value<int>("unapprovedReplies") > 0 )
        {
            approvereplies = "require-approval";
        }
        <div class="d-flex flex-row flex-wrap topic @locked @solved @approvereplies p-6 mb-2 rounded-3" id="topic-@post.Id">
            <div class="col-7 p-4">
                <a class="wiz-topic-permalink " href="@post.Url()" style="display: block" title="@post.Value("postTitle")">@post.Value("postTitle")</a>
                <span class="wiz-topic-meta">

                    @if (!String.IsNullOrWhiteSpace(cacheInfo.lastpostAuthor))
                    {
                        <span class="wiz-topic-started-by">
                            @LocalizationService.GetOrCreateDictionaryValue("Forums.Posts.Lastpostby","last post by") <a href="/profile/?user=@cacheInfo.lastpostAuthor">@cacheInfo.lastpostAuthor</a>
                            <span title="@cacheInfo.latestPost.ToDisplayDate()">@cacheInfo.latestPost.GetRelativeDate()</span> <a href="@cacheInfo.lastPostUrl" title="@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Jumpto","Jump to latest post")"><i class="bi bi-chevron-double-right"></i></a>
                        </span>
                    }
                    else
                    {
                        var test = post.Value("postAuthor") as IPublishedContent;
                        <span class="wiz-topic-started-by">@LocalizationService.GetOrCreateDictionaryValue("Forums.Posts.Createdby","topic created by") <a href="/profile/?user=@test.Id">@post.Value("postCreator")</a> <span title="@post.CreateDate.ToDisplayDate()">@post.CreateDate.GetRelativeDate()</span></span>
                    }
                </span>
            </div>
            <div class="col-3 pt-4">
                @if (activetopics)
                {
                    <a href="@currentPageURL" title="@Umbraco.AssignedContentItem.Parent.Name"><span class="badge rounded-pill bg-warning p-2">@Umbraco.AssignedContentItem.Parent.Name</span></a>
                }
                else
                {
                    @(cacheInfo.Count)
                }</div>
            <div class="col-2 pt-4">@if(activetopics){@(cacheInfo.Count)}else{@views}  </div>
        </div>
    }
    else if (!isApproved)
    {
        string locked = post.Value<bool>("allowReplies") ? "" : "locked";
        string solved = post.Value<bool>("answer") ? "solved" : "";
        /*
         * Need to check whether to display
         */
        if (_memberManager.IsLoggedIn() && roles.Contains("ForumAdministrator") || roles.Contains("ForumMederator"))
        {
            <div class="d-flex flex-row flex-wrap topic @locked @solved notapproved p-6" id="topic-@post.Id">
                <div class="col-7 p-4">
                    <a class="wiz-topic-permalink " href="@post.Url()" style="display: block" title="@post.Value("postTitle")">@post.Value("postTitle")</a>
                    <span class="wiz-topic-meta">

                        @if (!String.IsNullOrWhiteSpace(cacheInfo.lastpostAuthor))
                        {
                            <span class="wiz-topic-started-by">
                                @LocalizationService.GetOrCreateDictionaryValue("Forums.Posts.Lastpostby", "last post by") <a href="/profile/?user=@cacheInfo.lastpostAuthorId">@cacheInfo.lastpostAuthor</a>
                                <span title="@cacheInfo.latestPost.ToDisplayDate()">@cacheInfo.latestPost.GetRelativeDate()</span> <a href="@cacheInfo.lastPostUrl" title="@LocalizationService.GetOrCreateDictionaryValue("Forums.Forum.Jumpto","Jump to latest post")"><i class="bi bi-chevron-double-right"></i></a>
                            </span>
                        }
                        else
                        {
                            var test = post.Value("postAuthor") as IPublishedContent;
                            <span class="wiz-topic-started-by">@LocalizationService.GetOrCreateDictionaryValue("Forums.Posts.Createdby", "topic created by") <a href="/profile/?user=@(test.Id)">@post.Value("postCreator")</a> <span title="@post.CreateDate.ToDisplayDate()">@post.CreateDate.GetRelativeDate()</span></span>
                        }
                    </span>
                </div>
                <div class="col-3 pt-4">
                    @if (activetopics)
                    {
                        <a href="@currentPageURL" title="@Umbraco.AssignedContentItem.Parent.Name"><span class="badge rounded-pill bg-warning p-2">@Umbraco.AssignedContentItem.Parent.Name</span></a>
                    }
                    else
                    {
                        @(cacheInfo.Count)
                    }
                </div>
                <div class="col-2 pt-4">@views</div>
                <div class="approve-overlay">
                    <a href="@post.Url()" class="overlay-icon" title="Approve Topic">
                        <i class="fs-7 bi-file-check"></i>
                    </a>
                </div>
            </div>
        }

    }

}

