@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MediaWiz.Forums.Controllers.VerifyViewModel>
@using Umbraco.Extensions

@{
    Layout = "ForumMaster.cshtml";
    var success = TempData["ValidationSuccess"] != null;
    var error = TempData["ValidationError"] != null;
}
@section ForumHeader
{
    <meta name="robots" content="noindex,nofollow" />
}
@if (success)
{
    <p class="text-success">Validation succeeded. You may now login and begin posting</p>
}
else if (error)
{
    <h3 class="text-warning">Validation failed. @TempData["ValidationError"]</h3>
}
else if (Model.ResetToken != null)
{
    <div class="wiz-forum-info">
        <div class="page-header">
            <h3>@Model.Value("title")</h3>
        </div>
        <div class="forum-intro">
            @Html.Raw(Model.Value("postMessage"))
        </div>
    </div>
    @await Html.PartialAsync("Forums/_ResetPassword", Model)
    @if (Model.Value<bool>("useCaptcha"))
    {
        @await Component.InvokeAsync("Captcha")
    }

}
else
{
    @if (TempData["ResetSent"] == null || (bool)TempData["ResetSent"] == false)
    {
        <div class="wiz-forum-info">
            <div class="page-header">
                <h3>@Model.Value("title")</h3>
            </div>
            <div class="forum-intro">
                @Html.Raw(Model.Value("message"))
            </div>
        </div>
    }
    @await Component.InvokeAsync("PasswordManager",new {Template = "ForgotPassword"})

    @if (Model.Value<bool>("useCaptcha") && !(TempData["ResetSent"] != null && (bool)TempData["ResetSent"]))
    {
        <div id="captchaimage-div">
        @await Component.InvokeAsync("Captcha")
        </div>
    }


}

@section ForumScripts
{
    <script type="text/javascript">
        $.fn.clearValidation = function(){var v = $(this).validate();$('[name]',this).each(function(){v.successList.push(this);v.showErrors();});v.resetForm();v.reset();};

        $(document).ready(function() {
            if ('@Model.Value("useCaptcha")' !== 'True' && '@Model.Value("useCaptcha")' !== 'true') {
                $('#forgot-form-id').show();
                $('#forgotten-submit').show();
            }
        });
        $(document).on('click', "#btn-captcha", function (e) {
           
            e.preventDefault();
            MediaWiz.captchaCheck( $("#Captcha").val(), function(data) {
                if(data){
                    $("#captcha-check").hide();
                    $('#forgot-form-id').show();
                    $('#forgotten-submit').show();
                    $("#forgot-form-id").clearValidation();
                } else {
                    alert("false2");
                    $("#Captcha").attr("placeholder", "Incorrect, please try again.");
                }
            });
        });
        $(document).on("click","#captcha-refresh", function(e) {
            e.preventDefault();
            $.ajax({
                url: "/umbraco/surface/forumssurface/refreshcaptcha",
                success: function (data) {
                    $("#captchaimage-div").html(data);
                }
            });
        });
    </script>
}
