@using MediaWiz.Core.Controllers
@using Umbraco.Cms.Web.Common.Security
@inject MemberManager memberManager
@{

    var changingPasswordModel = new Umbraco.Cms.Core.Models.ChangingPasswordModel()
    {

    };
}
<p>&nbsp;</p>
@using (Html.BeginUmbracoForm<ForumMemberController>("PasswordReset", FormMethod.Post))
{
    <h4>Change your Password.</h4>
    <hr />
    <div class="form-group">
        <div class="mb-3">
            <label asp-for="@changingPasswordModel.NewPassword" class="form-label">New Password</label>
            <input asp-for="@changingPasswordModel.NewPassword" class="form-control" required="" />
            <span asp-validation-for="@changingPasswordModel.NewPassword" class="form-text text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="@changingPasswordModel.OldPassword" class="form-label">Confirm Password</label>
            <input asp-for="@changingPasswordModel.OldPassword" class="form-control" required="" />
            <span asp-validation-for="@changingPasswordModel.OldPassword" class="form-text text-danger"></span>
        </div>
        <input type="hidden" name="Id" value="@memberManager.GetCurrentMemberAsync().Result.Id" />
    </div>
    <div class="form-group"> <button type="submit" class="btn btn-danger">Save</button></div>
}
