@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MediaWiz.Core.Controllers.VerifyViewModel>
@using MediaWiz.Core.Controllers
@using Umbraco.Cms.Web.Website.Models
@inject MemberModelBuilderFactory memberModelBuilderFactory
@{

    var registerModel = memberModelBuilderFactory
        .CreateRegisterModel()
        .WithMemberTypeAlias("forumMember")
        .WithRedirectUrl(null)
        .WithCustomProperties(true)
        .Build();

    registerModel.Name = Model.MemberId;
}
<p>&nbsp;</p>
@using (Html.BeginUmbracoForm<ForumMemberController>("PasswordReset", null, new { id = "reset-form-id", style="display:none;" }, FormMethod.Post))
{
    <hr />
    <div class="form-group">


        <div class="mb-3">
            <label asp-for="@registerModel.Password" class="form-label"></label>
            <input asp-for="@registerModel.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="@registerModel.Password" class="form-text text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@registerModel.ConfirmPassword" class="form-label"></label>
            <input asp-for="@registerModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="@registerModel.ConfirmPassword" class="form-text text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="@registerModel.Name" class="form-control" aria-required="true" type="hidden" />
            <input asp-for="@registerModel.Email" class="form-control" autocomplete="username" type="hidden" />
        </div>
        <input type="hidden" name="Id" value="@Model.MemberId" />
        <input type="hidden" name="token" value="@Model.ResetToken" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group"> <button type="submit" class="btn btn-danger" id="register-submit" >Save</button></div>
}
